@import '_reset.scss';

$primary-color: hsl(180, 29%, 50%);

.App{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    input{
        position: absolute;
        top:7rem;
        width:70%;
        height:15%;
        border-radius: .5rem;
        border: none;
    }


}